body{
    font-family: 'Open Sans', sans-serif;
    padding: 40px 0 0 0;
	margin: 0;
}

.wrap {
    max-width: 1020px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}

ul{
    display: flex; 
    list-style-type: none;
    
}

.ul-item{
color:#545454;
font-size: 19px;
text-decoration: none;
padding: 0 45px;
}

.one{
    position: relative;
}
.one::before{
    content: url("img/icon1.png");
    position: absolute;
    left: 7px;
    
}

.two{
    position: relative;
    
}
.two::before{
    content: url("img/icon2.png");
    position: absolute;
    left: 9px;
   
}
.tree{
    position: relative;
    
}
.tree::before{
    content: url("img/icon3.png");
    position: absolute;
    left: 15px;
   
}
.four{
    position: relative;
   padding-right: 0px;
}
.four::before{
    content: url("img/icon4.png");
    position: absolute;
    left: 12px;
    
}

.sliderminto{
    margin-top: 32px;
    
    text-align: center;
}

.text{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
   
    text-align: center;
    height: 142px;

}
.text p {
   max-width: 907px;
    font-size: 23px;
    padding: 5px 5px 5px 5px;
}

.text p span{
 color: #82699d;
 font-weight: 700;
}

.flex-img{
    display: flex;
    margin-top: 30px;

}
.flex-img img{
    max-width: 316px;
    max-height: 313px;
    border-radius: 50%;

}

.flex-img p{
    
        font-size: 15px;
        color: rgb(131, 131, 131);
        line-height: 1.867;
        text-align: left;
        max-width: 622px;
        height: 182px;
        z-index: 78;
        margin-left: 35px;
        margin-top: 41px;
    
           
}

.flex-img p span{
    
        font-size: 31px;
        color: rgb(80, 80, 81);
        font-weight: bold;
        line-height: 1.161;
        text-align: center;
        letter-spacing: -1px;
        z-index: 77;
          
}

.flex-Where{
    justify-content:space-between;
display: flex;
align-items:center;
padding:1px 1px 1px 1px;
margin-top: 20px;

}
.flex-Where p{
    
        font-size: 23px;
        color: rgb(0, 0, 0);
        z-index: 18;
        width: 339px;
        padding-left: 0px;
        letter-spacing: -0.7px
     
      
}
.flex-Where p span{
    font-weight: bold;
    
    
}
.flex-Where img{
width: 660px;
height: 5px;

}

.flex-links{
    display: flex;
    border: 1px solid #e3e3e3;
    justify-content:space-around;
     padding: 1px 1px 1px 1px;
     height: 73px;
     align-items: center;
     margin-bottom: 60px;
     background-color: #f5f5f5;
}

.mashable, .tech, .business{
     border-left:1px solid #e3e3e3;;
    height: 73px;
    padding: 16px 0px 0 40px;
    box-sizing: border-box;
}
footer{
    background-image: url(img/footer.png);
    height: 68px;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-footer p {
    font-size: 15px;
    color: rgb(69, 66, 66);
    line-height: 2.4;
    text-align: center;
    z-index: 9;
  }

  .sotial{
    text-align: center;
    
  }
  