
html { overflow-x: hidden; }
body{
    font-family: 'Open Sans', sans-serif;
    padding: 40px 0 0 0;
	margin: 0;
}

.wrap {
    max-width: 1020px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    
}

ul{
    display: flex; 
    list-style-type: none;
    flex-wrap: wrap;
}

.ul-item{
color:#545454;
font-size: 19px;
text-decoration: none;
padding: 0 45px;
}

.one{
    position: relative;
}
.one::before{
    content: url("img/icon1.png");
    position: absolute;
    left: 7px;
    
}

.two{
    position: relative;
    
}
.two::before{
    content: url("img/icon2.png");
    position: absolute;
    left: 9px;
   
}
.tree{
    position: relative;
    
}
.tree::before{
    content: url("img/icon3.png");
    position: absolute;
    left: 15px;
   
}
.four{
    position: relative;
   padding-right: 0px;
}
.four::before{
    content: url("img/icon4.png");
    position: absolute;
    left: 12px;
    
}

.sliderminto{
    margin-top: 32px;
    
    text-align: center;
   width: 100%;
   height: 100%;
}

.text{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
   
    text-align: center;
    height: 142px;
    max-width: 900px;

}
.text p {
   max-width: 907px;
    font-size: 23px;
    padding: 5px 5px 5px 5px;
}

.text p span{
 color: #82699d;
 font-weight: 700;
}

.flex-img{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;

}
.flex-img img{
    max-width: 316px;
    max-height: 313px;
    border-radius: 50%;

}

.flex-img p{
    
        font-size: 15px;
        color: rgb(131, 131, 131);
        line-height: 1.867;
        text-align: left;
        max-width: 622px;
        height: 182px;
        z-index: 78;
        margin-left: 35px;
        margin-top: 41px;
    
           
}

.flex-img p span{
    
        font-size: 31px;
        color: rgb(80, 80, 81);
        font-weight: bold;
        line-height: 1.161;
        text-align: center;
        letter-spacing: -1px;
        z-index: 77;
          
}

.flex-Where{
    justify-content:space-between;
display: flex;
align-items:center;
padding:1px 1px 1px 1px;
margin-top: 20px;

}
.flex-Where p{
    
        font-size: 23px;
        color: rgb(0, 0, 0);
        z-index: 18;
        width: 339px;
        padding-left: 0px;
        letter-spacing: -0.7px
     
      
}
.flex-Where p span{
    font-weight: bold;
    
    
}
.flex-Where img{
width: 660px;
height: 5px;

}

.flex-links{
    display: flex;
    border: 1px solid #e3e3e3;
    justify-content:space-around;
     padding: 1px 1px 1px 1px;
     height: 73px;
     align-items: center;
     margin-bottom: 60px;
     background-color: #f5f5f5;
     flex-wrap: wrap;
}

.mashable, .tech, .business{
     border-left:1px solid #e3e3e3;;
    height: 73px;
    padding: 16px 0px 0 40px;
    box-sizing: border-box;
}
footer{
    background-image: url(img/footer.png);
    height: 68px;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-footer p {
    font-size: 15px;
    color: rgb(69, 66, 66);
    line-height: 2.4;
    text-align: center;
    z-index: 9;
  }

  .sotial{
    text-align: center;
    
  }
  




  @media (max-width:1150px){
      .flex-header img{
        margin:  0 auto;
      }


    ul{
        margin:  20px 16px 20px 21px;
    }
    ul li{
    margin: 25px 7px 4px 9px;
    }


  


    .sliderminto img {
        height: 60%;
        width: 100%
    }
    
    
  }
  @media (max-width:840px){

    .text{
        height: 100%;
    }

    .flex-img img {
        max-width: 50%;
        max-height: 50%;
       margin: auto;
    }
    .flex-img p {
        font-size: 12px;
        line-height: 1;
        max-width: 500px;
        height: 236px;
        z-index: 78;
        margin-top: 41px;
        margin-bottom: 40px;
        text-align: center;
        padding: 0px 54px 0px 54px;
    }

    .flex-Where {
        display: none;
    }

  
}



  @media (max-width:600px){
    .text p{
            font-size: 12px;
    }

    .text{
        height: 100%;
        max-width: 60%;
           }

    .flex-links {
           
          
            padding: 10px 10px 10px 10px;
            height: 50%;   
            margin-bottom: 100px;
            margin: 10px 26px 0px 45px;
        
        }
        .flex-links div{
           
          
            padding: 10px 10px 10px 10px;
            height: 50%;   
            margin-bottom: 10px;
            border-left: 0;
           
        
        }

        .tree::before {
            
            position: absolute;
            left: 8px;
        }

        .flex-footer {
            display: flex;
            
            flex-wrap: wrap;
           
        }

        footer{
            width: 100%;
            height: 100%;
            margin: auto;
        }
        .sotial {
           
            margin: auto;
        }
        
        .flex-img p span {
            font-size: 14px;
            
        }


       /* body {
            
            padding: 33px 15px 0px 15px;
        }*/
  
}
